* {
	box-sizing: border-box;
}
@media (min-width: 992px) {
	.col-lg-4, .leave {
		width: 30%;	
		float: left;	
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		width: 46%;	
		float: left;	
	}
	.leave {
		width: 95%;
		height: 80px;
		margin-top: 120px;
	}
}
@media (max-width: 767px) {
	.col-sm-12, .leave {
		width: 95%;
		float: left;		
	}
}
h1 {
	text-align: center;
}
section {
	margin-left: 15px;
	margin-bottom: 15px;
	margin-right: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
	border: 1px solid black;
	background-color: lightgray;
	position: relative;
}
p#one, p#two, p#three {
	width: 90px;
	height: 25px;
	border: 1px solid black;
	text-align: center;
	float: right;
	position: relative;
	top: -15.5px;
}
#one {
	background-color: pink;
}
#two {
	background-color: red;
	color: white;
}
#three {
	background-color: yellow;
}
p.para {
	padding-top: 15px;
}